@model Customer

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Registration failed. Do not leave any fields blank. Go back to the registration page to try again.</h1> 
